[Desktop Entry]
Type=Application
Name=Spotify (with Tray)
GenericName=Music Player
Icon=spotify
TryExec=spotify
Exec=/usr/bin/spotify-tray-launcher %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
